/* start box */
.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}
.space-between{
    justify-items: center;
}
.d-grid{
    display: grid;
}
@media (max-width: 767px){
.block-mobile{
    display: block;
}}
.gap-20{
    gap: 20px;
}
/* end box */
/* stat padding + margin */
.p-20{
    padding: 20px;
}
.m-20{
    margin: 20px;
}
.p-10{
    padding: 10px;
}
.p-15{
    padding: 10px;
}
.m-0{
    margin: 0;
}
.mt-5{
    margin: 5;
}




/* end padding + margin */
/* start color  */
.bg-white{
    background-color: white;
}
.c-black{
    color: black;
}
.c-green{
    color: green;
}
.bg-eee{
    background-color: #eee;
}
.c.grey{
    color: grey;
}
/* end color  */
/* start border radios */


.rad-6 {
border-radius: 6px;
}
.rad-10{
   border-radius: 10px; 
}
/* end border radios */
/* start position  */
.p-relative{
    position: relative;
}
/* end position  */
/* stat font  */
.fs-14{
   font-size: 14px; 
}  
.fw-b{
    font-weight: bold;
}
.text-c{
    text-align: center;
}
@media (max-width: 767px){
.text-c-mobile{
    text-align: center;
}
}

/* end font  */
/* start width  */
.w-full{
    width: 100%;
}
/* end width  */
/* start components  */
.btween-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* end components  */