/* start box */
.d-flex{
    display: flex;
}

.d-block{
    display: block;
}
.d-fform{
    display: flex;
    justify-content: space-between;
}

.allign-self{
    align-self: flex-start;
}
.align-center{
    align-items: center;
}
.justify-items{
    justify-items: center;
}
.justify-content{
    justify-content: center;
}
.d-grid{
    display: grid;
}
@media (max-width: 767px){
.block-mobile{
    display: block;
}}
.gap-20{
    gap: 20px;
}
/* end box */
/* stat padding + margin */
.p-20{
    padding: 20px;
}
.m-20{
    margin: 20px;
}
.p-10{
    padding: 10px;
}
.pf-20{
    padding: 12px 13px 0 0 ;
}
.pb-20{
    padding-bottom: 20px;
}
.par-25{
    margin-right: 25%;
}
.p-15{
    padding: 15px;
}
.m-0{
    margin: 0;
}
.m-5{
    margin: 5px;
}
.m-10{
    margin: 10px;
}




/* end padding + margin */
/* start color  */
.bg-white{
    background-color: white;
}
.b-green{
    background-color: green;
}
.bg-grey{
    background-color: #eee;
}
.c-black{
    color: black;
}
.c-green{
    color: green;
}
.bg-eee{
    background-color: #eee;
}
.c.grey{
    color: grey;
}
.c-white{
    color: white;
}
.b-yellow{
    background-color: yellow;
}
.bg-per{
    background-color: #0d1138;
}
/* end color  */
/* start border radios */


.rad-6 {
   /* border: 1px solid #ccc; */
    border-radius: 6px;
    
}
.rad-10{
   /* border: 1px solid #ccc; */
   border-radius: 10px; 
}
.rad-10-per{
   /* border: 1px solid #ccc; */
   border-radius: 10px 10px 0 0 ; 
}
/* end border radios */
/* start position  */
.p-relative{
    position: relative;
}
/* end position  */
/* stat font  */
.fs-14{
   font-size: 14px; 
}  
.fw-b{
    font-weight: bold;
}
.text-c{
    text-align: center;
}
@media (max-width: 767px){
.text-c-mobile{
    text-align: center;
}
}

/* end font  */
/* start width  */
.w-full{
    width: 100%;
}
.w-50{
    width: 50%;
}
.w-75{
    width: 75%;
}
.w-25{
    width: 25%;
}
.w-10{
    width: 10%;
}
.w-15{
    width: 15%;
}
.w-35{
    width: 35%;
}
.w-40{
    width: 40%;
}
.w-30{
   width: 30px;
}
.w-200{
    width: 200px;
}
/* end width  */
/* start components  */
.btween-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* end components  */
